<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>542354591142-t3ikvoo087kkmdeohfpct8mdtguggg50.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.542354591142-t3ikvoo087kkmdeohfpct8mdtguggg50</string>
	<key>API_KEY</key>
	<string>AIzaSyAYJSqzuVUEdd81sxjtVamcSQ6KK6X7dVI</string>
	<key>GCM_SENDER_ID</key>
	<string>542354591142</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.mynotes</string>
	<key>PROJECT_ID</key>
	<string>noman-mynotes-flutter-projects</string>
	<key>STORAGE_BUCKET</key>
	<string>noman-mynotes-flutter-projects.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:542354591142:ios:2afc41f90512cb8978d367</string>
</dict>
</plist>